name: Create Pull Request
on:
  workflow_dispatch

jobs:
  create_pull_request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository A
        uses: actions/checkout@v2

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.REPO_B_TOKEN }}
          commit-message: "Automated Pull Request from Repository A"
          branch: "main"
          title: "Changes from Repository A"
          body: "This pull request contains changes merged into Repository A's main branch."

          # Provide the details of repository B
          repository: "Atul-source/tdf"
          base: "main"
          head: "PK:main"
