---
name: Sync Changes
on:
  pull_request: {}
  push:
    branches:
      - main
jobs:
  create_pull_request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository A
        uses: actions/checkout@v4
        with:
          repository: Atul-source/PK
          ref: main
          path: repository-A
      - name: Set up Git
        run: |
          git config --global user.name "Atul-source"
          git config --global user.email "atulprajapati6031@gmail.com"
          git config --global --add --bool push.autoSetupRemote true
      - name: Checkout repository B
        uses: actions/checkout@v4
        with:
          repository: Atul-source/tdf
          path: repository-B
      - name: Get merged commits in the last 5 minutes
        id: merged_commits
        run: |
          cd repository-B

          git log --merges --since="5 minutes ago" --pretty=format:"%h %an %ad %s" > ../merged_commits.txt
      - name: Create and checkout new branch in repository A
        run: |
          cd repository-A
          branch_name=$(date +'%Y%m%d')-merged-changes
          git checkout -b $branch_name
        env:
          GITHUB_TOKEN: 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
      - name: Apply merged commits to repository A
        run: |
          cd repository-A

          while IFS= read -r commit; do
            commit_hash=$(echo $commit | awk '{print $1}')
            author_name=$(echo $commit | awk '{print $2}')
            author_date=$(echo $commit | awk '{print $3, $4, $5, $6}')
            subject=$(echo $commit | awk '{ $1=$2=$3=$4=""; print $0 }' | sed -e 's/^[[:space:]]*//')

            git cherry-pick $commit_hash

            git commit --amend --no-edit --date="$author_date" --author="$author_name <$author_name@users.noreply.github.com>" --all
          done < ../merged_commits.txt
      - name: Push changes to repository A
        run: |
          cd repository-A
          git remote set-url origin https://x-access-token:${{ secrets.TOKEN }}@github.com/Atul-source/PK.git
          git push origin $branch_name --force
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.TOKEN }}
          commit-message: Merge changes from repository B
          branch: $branch_name
          title: Merge changes from repository B
          body: This pull request merges the changes from repository B into repository A.
          draft: false
          path: repository-A
          base: main
